<table>
    <tr>
        <td>
            <p>Carlos Arturo Jose Fragoso</p>
            <p>Estudiante, ingeniero de software</p>
            <p>Ser jugador profesional de videojuegos</p>
        </td>

        <td>
            <img src="..\assets\imagenes\Fotito.jpeg" width="100" height="100">
        </td>

        <td>
            <ul>
                <li>carlosjosefra@gmail.com</li>
                <li>2722303746</li>
                <li>Rio Blanco, Veracruz</li>
                <li>SrCarlangas69</li>
            </ul>
        </td>


    </tr>
</table>

