<h3>Habilidades y competencias</h3>

    <ul>
        <a href="https://firebasestorage.googleapis.com/v0/b/instagramart17.appspot.com/o/images%2FCarlos%20Arturo%20Jos%C3%A9%20Fragoso%20-%20Python.png?alt=media&token=c23356bf-51aa-43c1-9c73-a4a07740340d">Python</a>
        <a href="https://firebasestorage.googleapis.com/v0/b/instagramart17.appspot.com/o/images%2FCarlos%20Arturo%20Jos%C3%A9%20Fragoso%20-%20Pandas.png?alt=media&token=d97a16ad-2833-4829-a4fd-8d815d3c19e2">Pandas</a>
        <a href="https://firebasestorage.googleapis.com/v0/b/instagramart17.appspot.com/o/images%2FCarlos%20Arturo%20Jos%C3%A9%20Fragoso%20-%20Intro%20to%20Machine%20Learning.png?alt=media&token=e0be80d3-de54-4988-ac30-9a57344a9b57">Intro Machine Learning </a>
        <li>HTML [♡ ♡ ♡] </li>
        <li>Base de datos [♡ ♡ ♡ ♡ ♡ ♡ ♡ ♡ ♡]</li>
        <li>Github [♡ ♡ ♡ ♡ ♡ ♡]</li>
    </ul>
